body {
  background-color: purple;
}

#arena {
  position: absolute;
  background-color: blue;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.ball {
  position: absolute;
/*   width: 10px; */
/*   height: 10px; */
/*   background-color: red; */
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}