/* Solarized Palette http://ethanschoonover.com/solarized */

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$header-border:   #002b36;
$header-bg:       #f2f2f2;
$pre-border:      #93a1a1;
$pre-background:  #e9e9ff;
$bubble:    rgb(242,242,242);

$nav-width: 14em;
$nav-margin: 1em;

@import '../../web/font-stacks.scss';

body {
    background-color: white;
    font-family: $optima;
    margin: 0px;
    font-size: 15px;
    line-height: 19px;
}
a, a:visited {
    color: $blue;
}
a:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
}

.content {
    padding: 0 (2em + $nav-width + 2 * $nav-margin);
    max-width: 44em;
    margin: 1em auto;
    min-height: 30em;

    h1,h2,h3 {
        font-family: $lucida;
        margin-left: -1em;
    }
    h1 {
        text-shadow: #999 1px 1px 1px;
        padding: .5em .25em;
        margin-top: 1em;
    }
    h2 {
        margin-top: 1em;
        border-bottom: $blue 1px dotted;
    }

}

.header, .footer {
    font-size: 80%;
    padding: .25em;
    background-color: $header-bg;
}

.header {
    border-bottom: 1px solid $header-border;
    text-align: left;

    h1 {
        color: #800000;
        margin: 0 0 -8px 0;
        padding: 0;
        font: 30px/48px $optima;
        letter-spacing: 0;
    }

    h2 {
        margin: 0 0 4px 13px;
        padding: 0;
        font: 10pt $optima;
        color: #686868;
        letter-spacing: 0;
        font-variant:small-caps;
    }

    a, a:visited {
        color: #800000;
        text-decoration: none;
    }

    a:hover {
        color: #37030B;
        text-decoration: none;
    }
}
.footer {
    border-top: 1px solid $header-border;
    text-align: center;
}

.nav {
    float: left;
    margin: $nav-margin;
    padding: 0 1em 1em;
    width: $nav-width;
    font-size: 75%;
}
.nav,.info {
    // todo: use an scss function or mixin
    background: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0.15, rgb(255,255,255)),  color-stop(0.85, $bubble)  );
    background: -moz-linear-gradient(  center bottom,  rgb(255,255,255) 15%,  $bubble 85%  );
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.info {
    float: right;
    margin: $nav-margin;
    padding: 0 1em 1em;
    font-size: 75%;
}

pre {
    font-family: $code;
    background-color: $pre-background;
    padding: .5em 1em;
    border: 1px solid $pre-border;
}
code {
    font-family: $code;
    background-color: #efefff;
}
pre > code {
    background-color: $pre-background;
}

li > p:nth-child(0) {
    margin: 0;
}
ul li ul li {
    margin-top: .1em;
    margin-bottom: 1em;
}
