/* Solarized Palette http://ethanschoonover.com/solarized */

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

body {
    background-color: white;
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    margin: 0px;
}

h1,h2,h3 {
    font-family: "Gill Sans", "Gill Sans MT", GillSans, Calibri, "Trebuchet MS", sans-serif;
    margin-left: -1em;
}

.content {
    padding: 0 2em;
    max-width: 44em;
    margin: 1em auto;
}

.footer {
    border-top: 1px solid $base03;
    text-align: center;
    font-size: 80%;
    padding: .25em;
    background-color: $base2;    
}

pre {
    font-family: Courier, "Courier New", monospace;
    background-color: $base3;
    padding: .25em;
    border: 1px solid $base1;
}
