/* Font Stacks http://www.artsiteframework.com/guide/fontstacks.php */
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$times:     Times, "Times New Roman", serif;
$trebuchet: "Trebuchet MS", sans-serif;
$verdana:   Verdana, sans-serif;
$georgia:   Georgia, serif;
$lucida:    "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
$gill:      "Gill Sans", "Gill Sans MT", GillSans, Calibri, "Trebuchet MS", sans-serif;
$optima:    Optima, Candara, "Trebuchet MS", sans-serif;

$code:      "Lucida Sans Typewriter Regular", 'lucida console', monaco, 'andale mono', 'bitstream vera sans mono', consolas, 'DejaVu Sans Mono', Courier, "Courier New", monospace;
